.report__card {
  padding-top: toRem(38);
  background-repeat: no-repeat;
  background-position: top toRem(-5) right toRem(20);

  &--work {
    background-color: $lightRedWork;
    background-image: url("../../images/icon-work.svg");
  }

  &--play {
    background-color: $softBlue;
    background-image: url("../../images/icon-play.svg");
  }

  &--study {
    background-color: $lightRedStu;
    background-image: url("../../images/icon-study.svg");
  }

  &--exercise {
    background-color: $limeGreen;
    background-image: url("../../images/icon-exercise.svg");
    background-position: top right toRem(20);
  }

  &--social {
    background-color: $violet;
    background-image: url("../../images/icon-social.svg");
    background-position: top toRem(-12) right toRem(20);
  }

  &--self-care {
    background-color: $softOrange;
    background-image: url("../../images/icon-self-care.svg");
    background-position: top toRem(-12) right toRem(20);
  }

  &__body {
    background-color: $darkBlue;
    transition: all 200ms linear;

    &__wrapper {
      background-color: inherit;
      padding: 32px 24px;
      cursor: pointer;
      transition: all 200ms ease-in-out;

      &:hover {
        background-color: hsla(235, 45%, 61%, 0.3);
      }
    }
  }

  &__header {
    font-size: 18px;
    font-weight: 500;
  }

  &__title {
    svg {
      transition: all 200ms ease-in-out;
      &:hover {
        path {
          fill: $white;
        }
      }
    }
  }

  &__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5;

    .current-time {
      font-size: 32px;
      font-weight: 300;
    }
  }
}